doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel='stylesheet' type='text/css' href='/css/index.css')
      
  body
    div 
      ul 
        li
          p  Hi! How can I help you today? ✨
          span assistant
      form(id="tarsing" method='post' style="width: 100%;") 
        textarea(name="question", rows="3")
      script(src='/js/fetchQuestion.js')
        

