@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Inconsolata", monospace;
}

/* body, html {
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: Nunito, sans-serif;
  } */

body {
  background: #484848;
  padding: 80px 0 40px 0;
  height: 100vh;
  min-height: 600px;
}

.container {
  width: 1140px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}

.asistan {
  width: 100%;
}

ul::-webkit-scrollbar {
  width: 0;
  /* Hide the scrollbar in WebKit browsers */
  display: none;
  /* Hide the scrollbar in Chrome and Safari */
}

li {
  width: max-content;
  display: flex;
  flex-direction: column;
  padding: 24px;
  box-sizing: border-box;
  border-radius: 10px;
  height: auto;
  text-align: left;
  font-size: 14;
  border-radius: 4px;
}

.asistan,
.user {
  width: 100%;
  display: flex;
}

.asistanText {
  max-width: 40%;
  background: #d9d9d9;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.asistanText div,
.userText div {
  color: #111;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
  text-align: right;
  margin-top: 4px;
}

.user {
  align-items: end;
}

.userText {
  min-width: 10%;
  max-width: 40%;
  background: #d9d9d9;
  padding: 20px;
  border-radius: 4px;
}

.textArea {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #d9d9d9;
  border-radius: 12px;
  overflow: hidden;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1140px;
}

.textArea textarea {
  width: 100%;
  border: 0;
  resize: none;
  font-size: 16px;
  outline: 0;
  max-height: 200px;
  height: 56px;
  overflow-y: hidden;
  padding: 18px;
  padding-right: 48px;
  background-color: #d9d9d9;
}

.textArea i {
  font-size: 24px;
  padding: 0 4px;
}

.textArea div:nth-of-type(1) {
  background-color: green;
  padding: 8px 5px 8px 5px;
  margin-right: 10px;
  color: #fff;
  border-radius: 12px;
  cursor: pointer;
}

.loading {
  text-align: center;
  font-size: 14px;
  background: #d9d9d9;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ul {
  margin-bottom: 45px;
  overflow: auto;
}
.iframe-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
